{%extends "layout.html"%}
{%block content%}

<!-- load Jumbotron's content -->
<div class="jumbotron jumbotron-fluid bg-cover-home">
  <div class="container jumbo-text">
    <h2 class="display-4">About This Website</h2>
    <p class="lead">This is a test website developed in Python and Bootstrap. </p>
    <hr class="style13">
    <p>	
    	This website's intention is to demonstrate the use of the Python programming language and Bootstrap resources capabilities, in order to showcase personal development as a programmer.
    </p>
  </div>
</div><!-- end load Jumbotron's content -->

{%endblock%}
